---
import TitleSection from '../components/TitleSection.astro';

const apiUrl = import.meta.env.API_URL;
let posts;

try {
    const response = await fetch(`${apiUrl}per_page=10&_embed`);
    const ultimosPosts = await response.json();
    posts = ultimosPosts;
} catch (error) {
    console.error('Error al obtener los posts:', error);
}

---

<section id="blogs" class="blogs">
    <div class="content max-w-8xl m-auto py-12 md:py-14 px-5">        
        <div class="py-12 flex flex-col gap-5 slick-slider">
            <div class="content-title pb-20">					
                <TitleSection classAdd="max-w-[426px]">Blogs <span class="text-custom-green ">Recientes</span>.</TitleSection>
            </div>
            <div class="swiper-container swiper-blogs">                
                <div id="content-blogs" class="swiper-wrapper">
                    {   
                        posts?.map( post => (                            
                            <div class="swiper-slide item-post rounded-lg overflow-hidden shadow-md flex-col">
                                <div class="post-image w-full border-b overflow-hidden">
                                    <img class="object-cover hover:scale-125 transition-all" src={post.uagb_featured_image_src.full[0]} alt={post.title.rendered} title={post.title.rendered}>
                                </div>
                                <div class="post-content px-6 py-4 flex flex-col gap-2">
                                    <h3 class="title-post text-lg font-bold"><a href={post.link}>{post.title.rendered}</a></h3>
                                    <div class="excerpt-post font-normal" set:html={ post.excerpt.rendered}/>
                                    <span class="btn-post max-w-max py-1 px-6 rounded-full border font-light">{post._embedded['wp:term'][0][0].slug}</span>
                                    <a href={post.link} class="w-max bg-custom-green text-white font-bold py-2 px-4 rounded-lg focus:outline-none hover:scale-110 transition-all">Ir al Post</a></h3>
                                </div>                            
                            </div>
                        ))
                    }
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>        
            </div>
        </div>
    </div>
</section>





<script>

  
  

    function mostrarPosts(posts) {
        const listaPosts = document?.getElementById('content-blogs');

        posts.forEach(post => {
            const listItem = document.createElement('div');
            listItem.classList.add('');
            
            // Crear elemento de imagen destacada si existe
            if (post.uagb_featured_image_src && post.uagb_featured_image_src.full) {
                const imageContainer = document.createElement('div');
                imageContainer.classList.add('');
                const featuredImage = document.createElement('img');
                featuredImage.classList.add('image', 'w-full');
                featuredImage.src = ''; // Obtener la URL de la imagen "full"
                featuredImage.alt = ''; // Usar el título del post como texto alternativo
                imageContainer.appendChild(featuredImage);
                listItem.appendChild(imageContainer);
                // Agregar imagen al elemento <li>
            }

            const contentContainer = document.createElement('div');
            contentContainer.classList.add('');
            
            // Crear elemento de título y enlace
            const title = document.createElement('h3');
            title.classList.add('text-xl', 'font-bold', 'mb-2');
            const link = document.createElement('a');
            link.textContent = post.title.rendered;
            link.href = post.link;
            title.appendChild(link);
            contentContainer.appendChild(title);

            // Crear elemento de excerpt (extracto)
            const excerpt = document.createElement('div');
            excerpt.innerHTML = post.excerpt.rendered;
            contentContainer.appendChild(excerpt);
            
            // Crear Boton ir al post
            const buttonLink = document.createElement('a');
            buttonLink.classList.add('');              
            buttonLink.textContent  = "Ir al Post";
            buttonLink.href = post.link;
            contentContainer.appendChild(buttonLink);
            listItem.appendChild(contentContainer);

            listaPosts?.appendChild(listItem);
        });
    }   
    //obtenerUltimosPosts();
</script>